*{
    box-sizing: border-box;
}
.row::after{
    content: "";
    clear: both;
    display: block; 
}

body{
    
    background-image: url(Bilder/background-blurry-restaurant-shop-interior_1203-4031.jpeg);
    background-size: cover;
    
}
.header { 
    min-height: 20vh;
    width: auto;
    background-image: url(Bilder/restaurant-interior_1127-3394.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-style: solid; 
    background-color:rgba(255,255,255, 0.9);
    grid-area: header; }

.grid-container-booking {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'booking booking booking info info info  '
      'nede nede nede nede nede nede';
    gap: 10px;
    padding: 10px;
    justify-content: space-around;
  }

/*Grid-til-booking-side*/
  .grid-container-booking > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
    
/*Infoboks-booking*/
.info { 
    border-style: solid; 
    background-color:rgba(255,255,255, 0.9);
    border-radius: 30px;
    max-width: 100%;
    grid-area: info; }

/*Bookingboks-booking*/
.booking {
    border-style: solid; 
    background-color:rgba(255,255,255, 0.9);
    border-radius: 30px;
    max-width: 100%;
    grid-area: booking; }

/*Nedeboks-foralle*/
.nede { 
    border-style: solid; 
   /* margin: 50px 50px; */
    background-color:rgba(255,255,255, 0.9);
    border-radius: 30px;
    /*padding: 50px;*/
    grid-area: nede; }



/*Header-lenker-foralle*/
.nav-links{
    grid-area: over;
    flex: 1;
    text-align: center;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    position: relative;
}
.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size: 30px;

}
.nav-links ul li ::after{
    content: "";
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover ::after{
    width: auto;
}



/*Knapp på booking-sidene*/
.knapp{
    display: inline-block;
    text-decoration: none; 
    color: black;
    border: solid 0.5px;
    padding: 12px 34px; 
    background: transparent;
    position: relative;
    cursor: pointer;
}
.knapp:hover{
    border: 0.5px solid;
    background: burlywood;
    transition: 1s;
}

/*Scaling*/
@media (max-width:600px){
    .grid-container-booking{ grid-template-areas:
        'over'
        'booking' 
        'info'
        'nede'
        ;}
}