*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image: url(Bilder/background-blurry-restaurant-shop-interior_1203-4031.jpeg);
    background-size: cover;
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 18px;
    position: relative;
}
.links ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.links ul li:hover::after{
    width: 100%;
}
.border { 
    border-style: solid; 
    margin: 80px 200px; 
    background-color:rgba(255,255,255, 0.9);
    border-radius: 10px; 
    padding: 70px;

}

/* asdasdasdasdasdasdasdasdasdasd*/

.Forretter{
    grid-area: Forrett;
    margin: 80px 200px; 
    background-color:rgba(255,255,255, 0.9);
    border-radius: 10px; 
}
.Hovedretter{
    grid-area: Hovedrett;
    margin: 80px 200px; 
    background-color:rgba(255,255,255, 0.9);
    border-radius: 10px; 
}
.Dessert{
    grid-area: Dessert;
    margin: 80px 200px; 
    background-color:rgba(255,255,255, 0.9);
    border-radius: 10px; 
}
.Bunntekst{
    grid-area: Bunntekst; 
    margin: 80px 200px;
    background-color:rgba(255,255,255, 0.9);
    border-radius: 10px; 
    word-break:break-all;
}
.Bunntekst1{
    grid-area: Bunntekst1;
    margin: 80px 200px;
    background-color:rgba(255,255,255, 0.9);
    border-radius: 10px; 
    word-break:break-all;
}

.grid-container-menu{
    align-content: center;
    display:grid;
    grid-template-areas: 
    'Forrett'
    'Hovedrett'
    'Dessert'
    'Bunntekst'
    'Bunntekst1';
    gap: 10px;
}
.grid-container-menu > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
